.post-page{
    margin-top: 150px;
}
image{
    max-height:300px;
    display: flex;
    overflow:hidden;
}
.image img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}
.post-page a{
    color:#333;
    text-decoration: underline;
}
h1{
    text-align: center;
    margin: 10px 0 15px;
}
.post-page time{
    text-align: center;
    display: block;
    font-size:1rem;
    color:#aaa;
}
.post-page div.author{
    text-align: center;
    font-size: .7rem;
    font-weight: bold;
}
.content p{
    line-height: 1.7rem;
    margin: 30px 0;
}
.content li{
    margin-bottom: 10px;
}
.edit-row{
    text-align: center;
    margin-bottom: 20px;
}

.post-page a.edit-btn{
    background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding:15px 30px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
a svg{
    height:20px;
}