.register{
    max-width: 400px;
    margin: 0 auto;
}


.heading{
    padding-top: 170px;
    margin-left: 130px;
    padding-bottom: 50px;
}

input{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px 15px;
    border: 1px;
    border-radius : 5px;
    border-bottom: 1px solid #ccc;
}

button{
    width: 60%;
    display: block;
    background-color: #555;
    border: 0;
    border-radius: 10px;
    padding: 15px 0;
    color: white;
    margin-top: 40px;
    margin-left : 80px;

}